@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body, #map{
  height: 100%;
  width: 100% !important;
}

#map{
  border: 10px solid #A1CFEB;
}

#logo{
  max-width: 100% !important;
}

@media only screen and (min-width : 768px) {
  #logo {
    max-width: 550px !important;
  }
  img.img-responsive {
    margin: 0 auto !important;
  }
}



p.waypoint:not(:first-child)::before {
  content: ' >';
  color: #fff;
  padding-right: 10px;
}

// p.waypoint::after {
//   content: ' x';
//   color: red;
//   padding-left: 5px;
// }

.logoshadow {
  -webkit-filter: drop-shadow( 5px 5px 5px #333 );
  filter: drop-shadow( 5px 5px 5px #000 );
}

body, section{
  background-color: #A1CFEB;
}

.container {
  background: #A1CFEB;
  width: 100%;
}

header.page-header{
  padding-top: 10px;
  padding-bottom:5px;
}

.contain{
  background: rgba(255, 255, 255, 0.49);
  border-radius: 7px;
  margin: 10px;
}

#info, #directions{
  margin: 7px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #0d77b6;
  font-size: 16px;
  overflow-x: auto;
}

img{
  max-width: none !important;
}

nav{
  overflow: auto;
}

#map{
  padding: 0;
}

.hide {
  display: none;
}

.fancy, .btn{
  margin: 15px 5px;
}

.fancy {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.fancy:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
  border-radius: 7px;
}

.btn-1d {
	overflow: hidden;
}

.btn-1d:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1d:hover,
.btn-1d:active {
	color: #0e83cd;
}

.btn-1d:hover:after {
	width: 90%;
	opacity: 1;
}

.btn-1d:active:after {
	width: 101%;
	opacity: 1;
}

select.form-control{
  width: 95%;
  margin-left: 2%;
}

label{
  color: white;
  padding: 5px;
  margin: 10px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size:  16px;
}

section{
  text-align: center;
}

.waypoint {
  float: left;
  padding: 10px;
  font-weight: 700;
  margin-top: 10px;
  color: #0D77B6;
  .fa-trash-o{
    padding-left: 5px;
    color: #7c0000;
  }
}

.waypoint:hover{
  border: 2px #eee dotted;
  color: #ffffff;
  text-shadow: 1px 1px 3px grey;
}

#submit, #clear-tmp-markers, #trip{
  width: 75%;
}

#geolocate{
  background: #0e83cd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#geolocate:hover{
  background: none;
}

.btn-default{
  img{
    padding: 15px;
  }
}

body:after{
  width: 80%;
}
