doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(href='/css/normalize.min.css', rel='stylesheet')
    link(href='/css/buttons.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/default.css')
    link(rel='stylesheet', type='text/css', href='css/component.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(href='/less/app.css', rel='stylesheet')
  body.cbp-spmenu-push
    nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left#cbp-spmenu-s1
      h3 Menu
      label Activity Type:
      select.form-control(name='activities')
        option(value='parks', selected='selected') Parks
        option(value='restaurants') Food
        option(value='beer') Beer
        option(value='bus-stops') Bus Stops
        option(value='art') Art
        option(value='wifi') Public Wifi
        option(value='historical-sites') Historical Sites
      label Distance:
      select.form-control(name='radius')
        option(value='.5', selected='selected') 1/2 mile
        option(value='1') 1 mile
        option(value='2') 2 miles
        option(value='5') 5 miles
        option(value='10') 10 miles
      label Travel Mode:
      select.form-control#mode
        option(value='DRIVING', selected='selected') Drive
        option(value='BICYCLING') Bicycle
        option(value='TRANSIT') Buses
        option(value='WALKING') Walk
      button.btn.btn-default#submit Find
      button.btn.btn-default#clear-tmp-markers Clear
      button.btn.btn-default#trip Calculate Trip
      #directions
      #info

    .container
      header.page-header
        .center-block#logo

    section
      button.btn.btn-primary.btn-lg#geolocate Find Me!
      button.btn.btn-primary.btn-lg#showLeftPush Start Planning
    block content

    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash-2.4.1.min.js')
    script(src='/js/vendor/moment-2.6.0.min.js')
    script(src='/js/vendor/modernizr.custom.js')
    script(src='/js/vendor/classie.js')
    script(src='/js/vendor/buttons.min.js')
    script(src='/js/vendor/traceur.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD4sNttD_i7PtUfNbANpfyCNt2FRMWzkHY&sensor=true')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/maps.js')
    script.
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };

      function disableOther( button ) {
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
      }

    block scripts
