extends ../shared/template

block content
  h1 Day Planner

  button#geolocate Find Me!
  button#get-parks Show Parks
  button#get-beer Show Beer
  button#get-bus-stops Show Bus Stops
  button#get-art Show Art
  button#clear-markers Clear Map
  #map
